

body {
    font-family: Arial, sans-serif;
    background-image: url(q&a.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #quiz-container {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
   
  }
  
  .hidden {
    display: none;
  }
  
  #question {
    font-size: 1.7rem;
    margin-bottom: 20px;
  }
  
  #answers {
    list-style:none;
    left: 20%;
    padding: 0;
  }
  
  #answers li {
    margin-bottom: 10px;
    font-size: larger;

    color: white;
    border-radius: 2px solid white;
  }
  
  button {
    background-color:#0056b3;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: auto;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:disabled {
    background-color:black;
    cursor: pointer;
  }
  